/* General */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #333;
}

.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Título */
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Filtro */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-size: 1rem;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/* Lista de canciones */
div.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

div.song-item {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

div.song-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

div.song-item p {
  font-size: 1rem;
  margin: 0;
}

/* Reproductor de música */
.music-player {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.music-player img {
  width: 150px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.music-player audio {
  width: 100%;
  margin-top: 10px;
}
/* src/App.css */
.album-card {
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.album-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.song-list {
  margin-top: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 8px;
}

.song-list div {
  cursor: pointer;
  margin: 5px 0;
  text-align: left;
}
